<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>tvkinoradio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/no-theme/jquery-ui-1.10.3.custom.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
	<script src="js/jcf.js"></script>
	<script src="js/jcf.file.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/jquery.mCustomScrollbar.js"></script>
	<script src="js/jcf.radio.js"></script>
    <script src="js/jcf.checkbox.js"></script>
	<script src="js/placeholder.js"></script>
	<script src="js/tabs.js"></script>
	<script src="js/ckeditor/ckeditor.js"></script>
	<script src="js/ckeditor/adapters/jquery.js"></script>
	<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/underscore-min.js"></script>
    <script src="js/datepicker.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">
		// replace custom forms
		jcf.lib.domReady(function(){
			jcf.customForms.replaceAll();
		});
	</script>

	<script id="autocompleteTmpl" type="js/template">
		<ul>
			<% var i = 0;
			_.each(filtered, function(item)
			{ %>
			<li class="jsItem <% if (i == 0) { %> <%=activeClass%> <% } %>">
				<a href="#">
					<img width='30' height='30' src='<%=item.imgUrl%>' />
					<em><%=item.text%></em>
				</a>
			</li>
			<% i++;
			}) %>
		</ul>
	</script>

</head>

<body>
<a class="side-banner side-banner_old" href="#">
    <span class="side-banner__inner" >
        <span class="side-banner__text" >
            <span class="side-banner__name">Старый дизайн</span>
        </span>
    </span>
</a>
<div class="container-fluid">
	<div class="account">
		<div class="case line">
			<a class="account__exit" href="#">Выйти</a>
			<div class="account__info line">
				<a class="account__person" href="#">
					<span class="account__photo">
						<img src="img/avatar02.png" width="30" height="30" alt=""/>
					</span>
					<strong class="account__name">Константинопольская Олимпиада</strong>
				</a>
				<ul class="account__tools line">
					<li class="account__tools-item">
						<a class="account__tools-link account__tools-link_settings" href="#"><i class="ico ico_settings"></i></a>
					</li>
					<li class="account__tools-item">
						<a class="account__tools-link" href="#">
							<i class="ico ico_message"></i>
							<span class="account__tools-incoming">7</span>
						</a>
					</li>
					<li class="account__tools-item">
						<a class="account__tools-link" href="#">
							<i class="ico ico_comments"></i>
							<span class="account__tools-incoming">2</span>
						</a>
					</li>
				</ul>
			</div>
			<ul class="account__nav">
				<li class="account__nav-item"><a class="account__nav-link" href="#">Профиль</a></li>
				<li class="account__nav-item"><a class="account__nav-link" href="#">Лента</a></li>
				<li class="account__nav-item"><a class="account__nav-link" href="#">Фото</a></li>
				<li class="account__nav-item"><a class="account__nav-link" href="#">Видео</a></li>
				<li class="account__nav-item"><a class="account__nav-link" href="#">Мероприятия</a></li>
				<li class="account__nav-item account__nav-item_active"><a class="account__nav-link" href="#">Друзья</a></li>
				<li class="account__nav-item"><a class="account__nav-link" href="#">Сообщества</a></li>
			</ul>
		</div>
	</div>
	<div class="hdr">
		<div class="case">
			<div class="hdr__frame line">
				<a class="logo logo_hdr" href="#">tvkinoradio</a>
				<div class="form form_search">
					<div class="input-i">
						<input class="input" placeholder="Поиск" type="text"/>
					</div>
					<input class="btn_search" type="submit" value="Поиск"/>
				</div>
			</div>
			<div class="navigation">
				<ul class="nav line">
					<li class="nav__item"><a class="nav__link" href="#">Оборудование</a>
						<div class="nav__drop">
							<div class="nav__drop-in">
								<ul class="nav__drop-list">
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Аудио</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Радиовещание</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Видео</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">IT оборудование</a>
										<div class="nav__drop nav__drop_right">
											<div class="nav__drop-in">
												<ul class="nav__drop-list">
													<li class="nav__drop-item"><a class="nav__drop-link" href="#">Автоматизация вещания</a></li>
													<li class="nav__drop-item"><a class="nav__drop-link" href="#">Хранение данных</a></li>
													<li class="nav__drop-item"><a class="nav__drop-link" href="#">Автоматизация производства</a></li>
													<li class="nav__drop-item"><a class="nav__drop-link" href="#">Оформление эфира</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Видеомонтаж</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Профессиональные носители</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Измерительное оборудование</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Кабели, разъемы</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Системы служебной связи</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Осветительное оборудование</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Оборудование DVB-C И DVB-T</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Студийная мебель</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav__item nav__item_active"><a class="nav__link" href="#">Работа</a></li>
					<li class="nav__item"><a class="nav__link" href="#">Павильоны</a></li>
					<li class="nav__item"><a class="nav__link" href="#">Статьи</a>
						<div class="nav__drop">
							<div class="nav__drop-in">
								<ul class="nav__drop-list">
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Новости</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Обзоры</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Слова</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Мнение</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">История</a></li>
									<li class="nav__drop-item"><a class="nav__drop-link" href="#">Объект</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav__item"><a class="nav__link" href="#">События</a></li>
					<li class="nav__item"><a class="nav__link" href="#">Компании</a></li>
					<li class="nav__item"><a class="nav__link" href="#">Группы</a></li>
					<li class="nav__item"><a class="nav__link" href="#">Люди</a></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="main line">
        <div class="case">
			<div class="cnt">
                <h1 class="cnt__ttl">Написать сообщение</h1>
				<div class="link__holder">
					<a class="b-link" href="#"><span class="b-link__inner">Все сообщения</span></a>
				</div>
				<div id="jsMesBox" class="message-box">
					<div id="jsMesBoxLeft" class="message-box__left">
						<div class="message-box__top">
							<a id="jsMesBoxOpener" class="message-box__opener" href="#"></a>
							<span class="message-box__num">Друзья (15)</span>
						</div>
						<div class="message-box__friends">
							<div class="message-box__friends-inner">
								<ul class="message-box__friends-list">
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li class="message-box__online">
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li class="message-box__current">
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
									<li>
										<a class="message-box__friend" href="#">
											<span class="message-box__friend-status"></span>
											<span class="message-box__friend-photo">
												<img src="img/avatar02.png" alt="" width="30" height="30"/>
											</span>
											<span class="message-box__friend-cnt">
												Олимпиада Константинопольская
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div id="jsFriendTooltip" class="friends-tooltip">
							<div class="friends-tooltip-inner line">
								<span class="friends-tooltip__photo">
									<img src="img/avatar23.jpg" alt="" width="60" height="60"/>
								</span>
							   <div class="friends-tooltip__cnt">
								   <span class="friends-tooltip__status">в сети</span>
								   <h3><a href="#">Олимпиада Константинопольская</a></h3>
								   <strong class="profile__prof">
									   <i class="ico ico_man"></i>Режиссер документалист
								   </strong>
								   <div class="profile__add">
									   <i class="ico ico_mark"></i>Петропавловск-Камчатский
								   </div>
							   </div>
							</div>
						</div>
					</div>
					<div id="jsMesBoxRight" class="message-box__right">
						<div class="message-box__main">
							<div class="message-box__search">
								<div class="autocomplete autocomplete_active">
									<div class="input-i">
										<input id="userSearch" class="input jsSearch" type="text" value="" placeholder="Кому" />
									</div>
									<div class="autocomplete__drop">
										<ul class="autocomplete__list jsAutocomplete" style="display:none;">

										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="message-box__bottom">
							<div class="form">
								<div class="form__row">
									<div class="ta-i">
										<textarea rows="10" cols="30" name="" class="ta" placeholder="Написать сообщение..."></textarea>
									</div>
								</div>
								<div class="form__btm">
									<a class="btn btn_green btn_small" href="#"><span class="btn__inner">Отправить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="sdbr">
                <div class="widget widget_banner">
                    <div class="widget__banner">
                        <img src="img/banner240-400.jpg" width="240" height="400" alt=""/>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget__ttl">Производители</h3>
                    <ul class="widget__list">
                        <li class="widget__list-item">
                            <a class="widget__list-ttl widget__list-ttl_big" href="#">Название производителя <span class="widget__list-photo"><img src="img/avatar01.jpg" width="60" height="60" alt=""/></span></a>
                        </li>
                        <li class="widget__list-item">
                            <a class="widget__list-ttl widget__list-ttl_big" href="#">Название производителя <span class="widget__list-photo"><img src="img/avatar01.jpg" width="60" height="60" alt=""/></span></a>
                        </li>
                        <li class="widget__list-item">
                            <a class="widget__list-ttl widget__list-ttl_big" href="#">Название производителя <span class="widget__list-photo"><img src="img/avatar01.jpg" width="60" height="60" alt=""/></span></a>
                        </li>
                        <li class="widget__list-item">
                            <a class="widget__list-ttl widget__list-ttl_big" href="#">Название производителя <span class="widget__list-photo"><img src="img/avatar01.jpg" width="60" height="60" alt=""/></span></a>
                        </li>
                        <li class="widget__list-item">
                            <a class="widget__list-ttl widget__list-ttl_big" href="#">Название производителя <span class="widget__list-photo"><img src="img/avatar01.jpg" width="60" height="60" alt=""/></span></a>
                        </li>
                    </ul>
                    <div class="widget__bottom">
                        <a class="btn btn_green" href="#"><span class="btn__inner">Все производители</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ftr">
    <div class="case">
		<div class="ftr__holder">
			<p>Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что сомнение методологически дискредитирует гедонизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Здравый смысл, как принято считать, индуцирует естественный закон исключённого третьего, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Апперцепция индуцирует позитивизм, открывая новые горизонты. Согласно мнению известных философов, гипотеза методологически трансформирует катарсис, ломая рамки привычных представлений. Суждение, следовательно, непредсказуемо. Язык образов заполняет неоднозначный гедонизм, открывая новые горизонты.</p>
		</div>
    </div>
	<div class="ftr__frame">
		<div class="case">
			<div class="ftr__block">
				<a class="logo logo_ftr" href="#">tvkinoradio</a>
			</div>
			<div class="ftr__columns line">
				<div class="ftr__col03">
					<ul class="ftr__social line">
						<li><a class="ftr__social-link ftr__social-link_fb" href="#"></a></li>
						<li><a class="ftr__social-link ftr__social-link_vk" href="#"></a></li>
						<li><a class="ftr__social-link ftr__social-link_tw" href="#"></a></li>
					</ul>
					<div class="ftr__copy">
						<div class="copy__logo line">
							<strong>Разработка сайта</strong>
							<a href="#" class="copy__logo-img">happylab digital agency</a>
						</div>
					</div>
				</div>

				<div class="ftr__col01">
					<p>&copy; Профессиональный портал для работников телевидения, кино и радиовещания TVKINORADIO.ru, 2010–2012. Все права защищены и охраняются законом. При полном или частичном использовании материалов ссылка на tvkinoradio.ru обязательна.</p>
				</div>
				<div class="ftr__col02 line">
					<div class="ftr__nav">
						<ul class="ftr__nav-list">
							<li><a class="ftr__nav-link" href="#">Контакты</a></li>
							<li><a class="ftr__nav-link" href="#">О проекте</a></li>
							<li><a class="ftr__nav-link" href="#">Реклама</a></li>
						</ul>
						<ul class="ftr__nav-list ftr__nav-list_large">
							<li><a class="ftr__nav-link" href="#">Обратная связь</a></li>
							<li><a class="ftr__nav-link" href="#">Пользовательское соглашение</a></li>
							<li><a class="ftr__nav-link" href="#">Хотите стать нашим автором?</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="top_scroll"></div>
</body>
</html>